In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [6]:
raw_data= pd.read_csv("//Users//paolaloi//Desktop//breast_cancer_dataset_dse.csv")
raw_data.head()

,CENTRO,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,NUT81,NUT82,NUT83,NUT84,NUT85,NUT86,NUT87,NUT88,NUT89,NUT90
0,1,10001,1,4,2,2,491,-9532,57,2,...,5648.296782,3211.984111,5293.483394,9693.117448,24592.425850,4435.469432,8336.245970,5491.056427,92.785579,71.944429
1,1,10001,2,12,2,4,492,-14138,70,2,...,2821.803323,1633.620478,2759.095141,5193.159895,10914.074588,2170.876027,4026.198830,2813.115847,45.196500,33.327571
2,1,10002,1,10,2,10,891,-10885,61,4,...,5182.036804,2768.285972,4673.497237,8435.682215,18817.064964,4027.165050,5520.428967,4191.977318,72.617601,57.553526
3,1,10002,2,12,2,2,592,-5872,48,2,...,7525.644453,4443.970135,7546.378739,13406.852180,30814.012101,5692.820114,12382.319142,7979.416594,118.245746,91.127254
4,1,10003,1,10,2,2,891,-7136,51,2,...,3333.196596,1766.302257,3108.772785,5701.329841,14685.569279,2684.650272,4775.958162,3194.035958,65.571295,50.351497

- v23 (dati non reliable, da considerare per eliminarne? boh)
- v24
- farm 40 
- v6 v7 --- altrimenti togleire v8 e usare v6 e v7 per calcolare età di v17 (età diagnosi)
- v9 a v15 vedere utilità se no togliere 
- v16 da valutare (main diagnosis)
- fum8- fum17 da valutare 
- fis1 - fis8 (lack data in b/ween)
- antr5 
- antr8 - antr11 e antr13 
- da cond1 a open8 -> set a parte > diete 
- alc resto da togliere
- nut50-nut52 e nut55-nut60 mancano i nomi delle variabili 


*da fare*
- v8-fum2
- fum9-fum8
- alc4+alc8+alc12+alc16+alc20+alc25
- medial history da valutare statistically 
- da fam 1 a 32 capire come gestirle (o raggrupparle, o creare 4 variabili vedi chatgpt o valutare come)